# Node modules
node_modules/
# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# TypeScript build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
